<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T&V</title>
</head>

<body>
    <div>
        <strong>
        <h1><a href="/">Pa T un cuentico</a></h1>
        </strong>
        <p>Había una vez un T muy bonito y un día lo encontró V</p>
    </div>
    
    <div>
        <strong>
        <h2><a href="">¿Y qué pasó?</a></h2>
        </strong>
        <p>V lo encerró en una torre</p>
    </div>
    
    <div>
        <strong>
        <h2><a href="">¿Y al final?</a></h2>
        </strong>
        <p>Vivieron felices para siempre</p>
    </div>

</body>
</html>