<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django girls</title>
</head>

<body>
    <div>
        <strong>
        <h1><a href="/">Django Girls Blog</a></h1>
        </strong>
        <p>published hoy</p>
    </div>
    
    <div>
        <strong>
        <h2><a href="">My fisrt post</a></h2>
        </strong>
        <p>Un día ví una vaca vestida de uniforme</p>
    </div>
    
    <div>
        <strong>
        <h2><a href="">My second post</a></h2>
        </strong>
        <p>Solo sé que nada sé</p>
    </div>

</body>
</html>